
# https://platform.openai.com/home
OPENAI_API_KEY=OPENAI_API_KEY

# https://platform.claude.com/dashboard
ANTHROPIC_API_KEY=ANTHROPIC_API_KEY

# DATABSE CONFIG
DB_HOST=localhost
DB_PORT=5432
DB_DATABASE=your-database-name
DB_USERNAME=your-database-username
DB_PASSWORD=your-database-password
